// Font colors
$primary: #b5b6b6;
$secondary: green;
$tertiary: #c4c4c4;
// Light colors
$white: #ffffff;
$blue-light: #f2f6fa;
// Blue colors
$blue: #3784ff;
$blue-dark: #265abf;
// Grey colors
$grey: #202020;
$grey-dark: #121212;
// Purple
$purple: #5c38ff;
